    * {
        margin: 0;
        padding: 0;
      }

    body {
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
    }

    /* default code of css */
    li{
      list-style-type: none;
    }

    a{
        text-decoration: none;
        color: #fff;
    }

    /* = nav container-1  */
    .navbar-1 {
        background-color: #1c1c1c;
        width: 100%;
    }

    .social-media-1 {
        display: flex;
        justify-content: end;
        color: #8f8f8f;
        margin-top: 30px;
    }

    .social-media-1 a {
        padding: 10px 3px 4px 10px;
        margin-right: 20px;
        color: black;
        transition: 0.5s ease;
    }

    .social-media-1 a:hover {
          color: white;
    }

    /* = nav container-2  */
    .nav-container-2 {
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* = FOR DRUP-DOWN MEANU  */
    .logo {
        width: 300px;
        margin-left: 20px;
    }

    .dropdown {
          position: relative;
          display: inline-block;
    }

    .dropbtn {
        color: #7c7c7d;
        padding: 16px;
        font-size: 16px;
        border: none;
        background: transparent;
    }

    .ddm-content {
        display: none;
        position: absolute;
        background-color: black;
        color: white;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .ddm-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* = HOVER EFFECT  */
    .ddm-content a:hover {
    color: #ddd;
    }

    .dropdown:hover .ddm-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
          color: white;
          transition: 0.5s ease;
    }

    .dropdown:hover .dropbtn {
          text-decoration: underline;
          transition: 0.5s ease;
    }

    /* = Form Section  */
    .serch-logo {
        color: #ffffffb3;
    }

    form input[type="text"] {
        border: none;
        background: transparent;
        box-sizing: border-box;
        transition: 0.5s;
        padding: 15px;
        outline: 0;
    }

    input[type="text"]:focus {
        border-bottom: 1px solid #ffff;
    }

    /* = Bg images  */
    .bg-img img {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* = Brand-ink Section */
    .brand-link {
        margin-top: -172px;
        margin-left: 215px;
        color: white;
    }

    .brand-link a {
        text-decoration: none;
        color: white;
        font-size: 22px;
    }

    /* =.main-container  Section  */
    .main-container {
        display: flex;
        justify-content: space-between;
    }

    /* =.main-container text section  */
    .text-1 {
        margin-top: 250px;
        max-width: 50%;
        line-height: 1.4;
        color: #111;
        font-family: "Montserrat";
        margin-left: 160px;
        font-size: 20px;
    }

    .text-1 h1 {
        margin-top: 18px;
        margin-bottom: 10px;
    }
    .text-1 hr{
        width: 40%;
        margin-top: 55px;
        color: #c8c8c8;
    }

    .new-line {
        font-size: 16px;
        margin-top: 100px;
    }

    /* =.main-container img section  */
    .main-img {
        margin-top: 250px;
        width: 100%;
    }

    .showcase-img{
          max-width: 100%;
          height: auto;
          box-sizing: border-box;
          margin-top: 40px;
    }

    img{
        width: 100%;
    }

    .main-img img {
        width: 60%;
        margin-left: 100px;
    }


    /* footer */
    section.bg-color {
        background-color: black;
    }

    footer{
        display: flex;
        justify-content: space-between;
        background-color: #000;
        color: white;
        margin-top: 60px;
        margin-bottom: 200px;
    }

    .link{
        width: 30%;
        font-size: 20px;
        line-height: 1.4;
        font-family: Montserrat;
        font-weight: 700;
        margin-top: 80px;
    }
    .test p{
        font-size: 30px;
        font-size: bold;
        padding-bottom: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    .test li{
      padding-bottom: 15px;
    }

    .test{
        width: 55%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 75px;
    }

    .form {
        margin-left: 60px;
        font-size: 20px;
        margin-top: 50px;
    }

    input[type="email"] {
        border: none;
        outline: none;
        background: transparent;
        margin-bottom: 40px;
        width: 87%;
        border-bottom: 1px solid #989595;
        padding: 14px 10px;
        outline: 0;
    }

    input[type="email"]:focus {
        border-bottom: 1px solid #fff;
        color: white;
    }

    .test a{
        color: #fff;
    }
    .test a:hover{
        color:#ffffffb3;
        outline:0;
    }

    /* Second Footer  */
    .all-footer .footer-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .footer-2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #000;
      color: #fff;
    }

    .footer-2 .flogo img{
          width: 40%;
          margin-left: 30px;
          margin-top: 30px;
          margin-bottom: 30px;
    }

    .copy-right {
        margin-left: -201px;
        margin-top: 25px;
        margin-bottom: 25px;
        color: #8f8f8f;
    }

    span.desigener {
        color: white;
    }

    .social-media-1 a{
        color: #8f8f8f;
    }

    .social-media-1 a:hover{
        color: #fff;
    }

    .test a:hover{
        color: #7c7c7d;
    }
